@{
  Layout="Shared/_Layout";
}

<div class="container">
  <h1>List of Salons</h1>
  <hr />
  @if (Model.Count == 0)
  {
    <p>No salons have been added yet!</p>
  }
  else
  {
    @foreach (var salon in Model)
    {
      <ul>
        <li><a href="/salons/@salon.GetId()">@salon.GetName()</a></li>
      </ul>
    }
  }

  <form action='/salons/new' method="get">
      <input type="hidden" name="add-salon" id="add-salon" value="add-salon"><button type="submit">Add a new Salon</button>
  </form>
  <h4><a href="/">Return home</a></h4>
  <form action="/salons/delete" method="post">
    <button type="submit">Delete All Salons</button>
  </form>
</div>
